@using MiniPos.ViewModels
@model ProductViewModel
<head>
    <link rel="stylesheet" href="~/css/createcutomers.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.3/css/all.min.css">
</head>

<div class="container" style="width: 100%">
    <div class="row" style="padding-top: 1%; padding-right: 2%;  padding-bottom:1%;  padding-left: 2%; height:100vh">

        <div class="container mb-3 bg-white" style="padding-top: 2%; padding-right: 5%;  padding-bottom: 3%;  padding-left: 5%;">
            <form method="post" asp-action="Edit">
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label asp-for="Code" class="col-sm-2 col-form-label">Code</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Code" class="form-control form-control-sm" id="code" readonly>
                            </div>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Name" class="form-control form-control-sm" id="name">
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-6">
                                <input asp-for="Price" type="number" class="form-control form-control-sm" id="price">
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Qty" class="col-sm-2 col-form-label">Qty</label>
                            <div class="col-sm-6">
                                <input asp-for="Qty" type="number" class="form-control form-control-sm" id="qty">
                            </div>
                            <span asp-validation-for="Qty" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MRP" class="col-sm-2 col-form-label">MRP</label>
                            <div class="col-sm-6">
                                <input asp-for="MRP" type="number" class="form-control form-control-sm" id="mrp">
                            </div>
                            <span asp-validation-for="MRP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <label asp-for="MinQty" class="col-sm-4 col-form-label">MinQty</label>
                            <div class="col-sm-6">
                                <input asp-for="MinQty" type="number" class="form-control form-control-sm" id="minqty">
                            </div>
                            <span asp-validation-for="MinQty" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="DefaultDiscount" class="col-sm-4 col-form-label">DefaultDiscount</label>
                            <div class="col-sm-6">
                                <input asp-for="DefaultDiscount" type="number" class="form-control form-control-sm" id="defaultdiscount">
                            </div>
                            <span asp-validation-for="DefaultDiscount" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MinDiscount" class="col-sm-4 col-form-label">MinDiscount</label>
                            <div class="col-sm-6">
                                <input asp-for="MinDiscount" type="number" class="form-control form-control-sm" id="mindiscount">
                            </div>
                            <span asp-validation-for="MinDiscount" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MaxDiscount" class="col-sm-4 col-form-label">MaxDiscount</label>
                            <div class="col-sm-6">
                                <input asp-for="MaxDiscount" type="number" class="form-control form-control-sm" id="maxdiscount">
                            </div>
                            <span asp-validation-for="MaxDiscount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container" style="padding-top: 2%; padding-bottom: 1%; padding-left:0%; padding-right: 0%;">
                    <button class="btn btn-sm" type="submit" style=" float: right; background-color: #2FE14B; width: 10%; height:100%;" role="button">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

